<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons (click)="login()" slot="start" style="padding-left: 15px;">
      <ion-icon name="arrow-back" class="light icone"></ion-icon>
    </ion-buttons>
    <ion-title class="centertext tituloPadding bold">Recuperação de senha</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="fundobg" [fullscreen]="true">

<ion-row style="padding-top: 200px;">
  <ion-col class="espacamentoLogin">
    <ion-item class="roundedInput" lines="none">
      <ion-input [(ngModel)]="email.email" type="email" placeholder="E-Mail"></ion-input>
      <ion-icon name="mail" class="black" slot="end"></ion-icon>
    </ion-item>
  </ion-col>
</ion-row>

<ion-row>
  <ion-col class="espacamentoLogin">
    <ion-button (click)="recuperacao()" shape="block">Recuperar</ion-button>
  </ion-col>
</ion-row>

</ion-content>
