<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons (click)="curso()" slot="start" style="padding-left: 15px;">
      <ion-icon name="arrow-back" class="light icone"></ion-icon>
    </ion-buttons>  
    <ion-title class="centertext tituloPadding bold">Idiomas <ion-icon name="globe"></ion-icon></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="fundobg" [fullscreen]="true">

  <ion-row>
    <ion-col>
      <ion-item class="roundedInput" lines="none">
        <ion-label position="floating" class="ion-margin-top">Idioma</ion-label>
        <ion-select [(ngModel)]="idioma.id_idioma" style="width: 100%;">
          <ion-select-option *ngFor="let idm of tipoIdioma" value="{{idm.nome}}">{{idm.nome}}</ion-select-option>
        </ion-select>
      </ion-item>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col>
      <ion-item class="roundedInput " lines="none">
        <ion-label position="floating">Nível do idioma</ion-label>
        <ion-select [(ngModel)]="idioma.nivel" style="width: 100%;">
          <ion-select-option value="iniciante">Iniciante</ion-select-option>
          <ion-select-option value="basico">Intermediário</ion-select-option>
          <ion-select-option value="avancado">Avançado</ion-select-option>
          <ion-select-option value="fluente">Fluente</ion-select-option>
        </ion-select>
      </ion-item>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col>
      <ion-button shape="block" (click)="adicionarIdioma()">Adicionar idioma</ion-button>
    </ion-col>
  </ion-row>

  <div *ngIf="idiomas?.length > 0">

    <hr />
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-list style="width: 100%">
            <ion-item *ngFor="let idm of idiomas" class="border animate__animated animate__fadeInUp">
              <img class="bandeira" src="{{idm.bandeira}}">
              <ion-label class="labelIdioma">
                <h2>Idioma: {{idm.id_idioma}}</h2>
                <h2>Nivel: {{idm.nivel}}</h2>
              </ion-label>
              <ion-icon name="trash-outline" slot="end" color="danger" (click)="removerIdioma(idm)" 
              style="font-size: 35px"></ion-icon>             
            </ion-item>
          </ion-list>
        </ion-item>
      </ion-col>
    </ion-row>
  </div>

  <div *ngIf="idiomas?.length <= 0">
  </div>

</ion-content>

<ion-footer>
  <ion-row>
    <ion-col class="espacamento">
      <ion-button shape="block" (click)="proximo()">Proxima Página</ion-button>
    </ion-col>
  </ion-row>
</ion-footer>