<ion-header mode="md" >
  <ion-toolbar color="primary">
    <ion-buttons (click)="login()" slot="start" style="padding-left: 15px;">
      <ion-icon name="arrow-back" class="light icone"></ion-icon>
    </ion-buttons>
    <ion-title class="centertext tituloPadding bold">Informações Empresariais</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="fundobg" [fullscreen]="true" mode="md">
  <div>
    <ion-row>
      <ion-col>
        <h5 style="text-align: start;">Campos com a flag <span style="color:red">*</span> necessário preencher</h5>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-item class="roundedInput" lines="none">
          <ion-label position="floating">Nome empresarial<span style="color: red">*</span></ion-label>
          <ion-input type="text" [(ngModel)]="empresa.nome"></ion-input>
          <ion-icon name="business-outline" slot="end" class="iconPad"></ion-icon>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-item class="roundedInput" lines="none">
          <ion-label position="floating">Nome fantasia</ion-label>
          <ion-input type="text" [(ngModel)]="empresa.fantasia"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-item class="roundedInput" lines="none">
          <ion-label position="floating">CNPJ <span style="color: red">*</span></ion-label>
          <ion-input type="text" [(ngModel)]="empresa.cnpj" placeholder="**.***.**/0001-**">
          </ion-input>
          <ion-icon name="id-card-outline" slot="end" class="iconPad"></ion-icon>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-item class="roundedInput" lines="none">
          <ion-label position="floating">E-mail <span style="color: red">*</span></ion-label>
          <ion-input type="email" [(ngModel)]="empresa.email"></ion-input>
          <!-- <ion-input type="text" class="ion-margin-horizontal" [(ngModel)]="usuario.nome"></ion-input> -->
          <ion-icon name="mail-outline" slot="end" class="iconPad"></ion-icon>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-label position="floating">Data de abertura</ion-label>
        <ion-item class="roundedInput" lines="none">
          <ion-input type="date" [(ngModel)]="empresa.dataAb">
          </ion-input>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-item class="roundedInput" lines="none">
          <ion-label position="floating">Atividades Ecônomicas(CNAE) <span style="color: red">*</span></ion-label>
          <ion-input type="text" [(ngModel)]="empresa.cnae" placeholder="**.**-*-**">
          </ion-input>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-item class="roundedInput" lines="none">
          <ion-label position="floating">Situação cadastral <span style="color: red">*</span></ion-label>
          <ion-select [(ngModel)]="empresa.situacao" interface="popover">
            <ion-select-option *ngFor="let sit of situacoes" value="{{ sit.sitAtual }}">{{ sit.sitAtual }}
            </ion-select-option>
          </ion-select>
        </ion-item>
      </ion-col>

      <ion-col>
        <ion-item class="roundedInput" lines="none">
          <ion-label position="floating">Natureza jurídica <span style="color: red">*</span></ion-label>
          <ion-select [(ngModel)]="empresa.natureza" interface="popover">
            <ion-select-option *ngFor="let juri of naturezas" value="{{ juri.naturezas }}">{{ juri.naturezas
              }}</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-item class="roundedInput" lines="none">
          <ion-label position="floating">Senha <span style="color: red">*</span></ion-label>
          <ion-input type="password" [(ngModel)]="empresa.senha"></ion-input>
          <ion-icon name="key-outline" slot="end" class="iconPad"></ion-icon>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-item class="roundedInput" lines="none">
          <ion-label position="floating">Confirme sua senha <span style="color: red">*</span></ion-label>
          <ion-input type="password" [(ngModel)]="empresa.confirmacao"></ion-input>
          <ion-icon name="key-outline" slot="end" class="iconPad"></ion-icon>
        </ion-item>
      </ion-col>
    </ion-row>
  </div>
</ion-content>

<ion-footer>
  <ion-row>
    <ion-col class="espacamento">
      <ion-button shape="block" (click)="adicionarEmpresa(endereco)">Próximo</ion-button>
    </ion-col>
  </ion-row>
</ion-footer>