<ion-header>
  <!-- <ion-toolbar>
    <ion-title>conclusao</ion-title>
  </ion-toolbar> -->
</ion-header>

<ion-content>

  <ion-row style="margin-top:10%">
    <ion-col>
      <h1 class="middle bold">Cadastro finalizado!</h1>
    </ion-col>
  </ion-row>

  <ion-row style="margin-top:10%">
    <ion-col class="middle">
      <img src="/assets/ok.png">
    </ion-col>
  </ion-row>

</ion-content>

<ion-footer>
  <ion-row>
    <ion-col>
      <h1 class="middle bold">Carregando seus dados ...</h1>
    </ion-col>
  </ion-row>
  <ion-row style="margin-bottom: 70px;">
    <ion-col class="barra">
      <ion-progress-bar [type]="'indeterminate'"></ion-progress-bar>
    </ion-col>
  </ion-row>
</ion-footer>